/* Fondos del body index
   ========================================================================== */
.font-div1 {
    margin-top: -6rem;
    min-height: 100vh; /* Ocupa al menos el 100% del alto de la pantalla */
    width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
    background-size: cover; /* Ajusta la imagen de fondo para que cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-image: url('/Sources/Image/Background/BgBody01.png');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.font-div2 {
    min-height: 100vh;
    width: 100vw; 
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90% 10%;
    background-size: cover;
    background-position: center;
    background-image: url('/Sources/Image/Background/BgBody02.png');
}

.font-div3 {
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

.font-div5 {
    min-height: 100vh; /* Ocupa al menos el 100% del alto de la pantalla */
    width: 100vw; /* Ocupa el 100% del ancho de la pantalla */
    background: linear-gradient(270deg, #f2f0dc, #f4a261, #e76f51, #f2cc8f, #f2f0dc);
    background-size: 400% 400%;
    animation: gradient-animation 12s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    text-align: center;
    padding: 20px; /* Espaciado interno reducido para móviles */
}

.title-black {
    font-size: 4rem; /* Ajustar el tamaño de la fuente para pantallas pequeñas */
    margin-left: 10%;
    margin-top: -5%;
}

/* Carrusel */
.carousel-container {
    width: 100%; /* Cambiar a un ancho más flexible */
    max-width: 100%; /* Máximo ancho para el carrusel */
    margin-top: 2%;
    margin-left:-0.5%;
    height: 60vh; /* Altura del carrusel como un porcentaje del viewport */
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 1s ease-in-out; /* Transición suave */
}

.carousel-item {
    min-width: 100%; /* Cada item ocupa el 100% del contenedor */
    flex-shrink: 0; /* No se encoge el elemento */
    background-color: rgba(30, 30, 30, 0.8); /* Fondo oscuro para los items */
    display: flex; /* Flex para centrar la imagen dentro */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.carousel-image {
    max-width: 30%; /* Ajusta el ancho máximo de las imágenes */
    max-height: 100%; /* Ajusta la altura máxima de las imágenes */
    display: block; /* Asegura que el elemento de imagen se comporte como un bloque */
    margin: auto;
    object-fit: contain; /* Asegura que la imagen se ajuste sin deformarse */
}

.carousel img {
    width: 100%; /* Asegura que la imagen ocupe el ancho completo */
    height: auto; /* Asegura que la imagen ocupe el alto completo */
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
}

.dots-container {
    display: flex;
    justify-content: center;
    margin: 30px 0; /* Espaciado alrededor de los puntos */
    top: 10%; /* Ajustar la posición vertical según sea necesario */
    left: 50%; /* Centrar horizontalmente */
}

.dot {
    height: 10px; /* Altura del punto */
    width: 10px; /* Ancho del punto */
    margin: 0 5px; /* Espaciado entre puntos */
    background-color: #bbb; /* Color del punto */
    border-radius: 50%; /* Forma redonda */
    display: inline-block; /* Se comporta como un bloque en línea */
    transition: background-color 0.6s ease; /* Transición suave */
    cursor: pointer; /* Cambia el cursor al pasar sobre el punto */
}

    .dot.active {
        background-color: #e76f51; /* Color del punto activo */
    }

.bd-bluegotham {
    padding: 10px 20px; /* Espaciado interno del botón */
    background-color: #1c3553; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    font-size: 1rem; /* Tamaño de la fuente ajustado para móviles */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    .title-black {
        font-size: 3rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
        margin-top: -5rem; /* Ajustar el margen superior para pantallas pequeñas */
    }

    .carousel-container {
        height: 30vh; /* Reducir la altura del carrusel en pantallas pequeñas */
    }

    .bd-bluegotham {
        font-size: 0.9rem; /* Tamaño de fuente del botón para pantallas pequeñas */
        padding: 8px 16px; /* Espaciado del botón reducido */
    }
}

@media (max-width: 480px) {
    .title-black {
        font-size: 1.5rem; /* Tamaño de fuente aún más pequeño para móviles */
    }

    .carousel-container {
        height: 25vh; /* Reducir aún más la altura del carrusel en móviles */
    }
}

/* Fondos de divs index
   ========================================================================== */
.font-div01 {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('/Sources/Image/Resources/AP-Nahum.png');
}

.font-div02 {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('/Sources/Image/Resources/AP-Javier.png');
}

.font-div03 {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('/Sources/Image/Resources/AP-Hugo.png');
}

/* Fondos del body desde font-div2*/
.evangelioImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.evangelioInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .evangelioInfo p, .evangelioInfo h2 {
        padding: 1rem 0;
    }

/* Imagenes
   ========================================================================== */
.img-logo02 {
    width: 35rem;
}

.img-body01 {
    margin-left: 32rem;
    margin-top: -5%;
    height: 50rem;
}

.img-body02 {
    width: 50rem;
    animation-name: fadeInRight;
    animation-duration: 1.5s;
}

/* Posiciones
   ========================================================================== */
/*Titulos*/
.a-title {
    margin-left: 7%;
    margin-top: 6.5rem;
}

.h1-title {
    margin-left: 6%;
    margin-top: 0.1rem;
}

.h2-title1 {
    margin-left: 20rem;
    margin-top: 3rem;
}

.h2-title2 {
    margin-left: 6%;
    margin-top: 2%;
}

/*Parrafos*/
.p1-body {
    margin-left: 6%;
    margin-top: -10%;
}

.p2-body {
    margin-left: 72rem;
    margin-top: -30rem;
}

.p3-body {
    margin-left: 90rem;
    margin-top: 2rem;
}

/*Botones*/
.b1-body {
    margin-left: 6%;
    margin-top: 1rem;
}

.b2-body {
    grid-area: 2 / span 2;
    width: 15rem;
    height: 4rem;
    margin-left: 46%
}

.b3-body {
    margin-left: 44%;
    margin-top: 126.8%;
}

/*Animaciones*/
@keyframes fadeInRight {
    from {
        margin-left: 0;
        opacity: 20%;
    }

    to {
        margin-left: 8rem;
        opacity: 100%;
    }
}
