/* Estilos Generales */
body {
    margin: 0;
    font-family: 'Gotham', sans-serif;
}

/* Estilos de la cabecera */
.font-div4 {
    min-height: 40vh;
    background-size: cover;
    background-position: center;
    background-color: #25354a;
}

.topHeader {
    transition: 1s ease;
    height: 7rem;
}

.navLogo {
    width: 10%;
}

.flexNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 100%;
    max-width: 20rem; /* Asegúrate de que no exceda 20rem */
    height: auto; /* Mantiene la proporción de la imagen */
    transition: width 0.3s ease;
}

.prueba {
    position: relative;
    z-index: 1000;
}

/* Estilos de la Navegación */
.navbar {

    transition: padding 0.3s ease;
}

    .navbar a {
        font-family: 'Gotham-Bold';
        font-weight: 500;
        font-size: 1rem;
        text-transform: uppercase;
        color: #25354a;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 0 0 1rem 1rem;
        transition: background-color 0.3s, color 0.3s;
    }

    .navbar ul a:hover {
        background-color: #6690D3;
        color: black;
        cursor: pointer;
    }

/* Estilos de las Imágenes */

.img-logo07, .img-logo08, .img-logo09, .img-logo10 {
    width: 5rem; /* Ajustar según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}

.img-logo08 {
    margin-left: -2rem;
}

.img-logo09 {
    margin-left: -2.5rem;
}

.img-logo10 {
    margin-left: -2rem;
}
/* Estilos Dinámicos */
.topHeader {
    transition: 1s ease;
    height: 100%;
}

/* Estilos cuando se hace scroll */
.hidden {
    display: none;
    transition: opacity 0.5s ease;
}

.hiddenav {
    margin-top: -10vh;
    transition: opacity 0.5s ease;
}

.scrolling {
    animation: fadeOutMenu 1s ease forwards;
}

/* Nueva clase para el fondo azul */
.blue-background {
    background-color: #25354a; /* Color azul */
    transition: background-color 0.5s ease; /* Transición suave */
}

.white-text ul li a {
    color: white;
    transition: color 0.5s ease; /* Transición suave del color de texto */
}

/* Animaciones */
@keyframes fadeOutMenu {
    from {
        height: 7rem;
    }

    to {
        height: 0;
    }
}

/*----------------------------------------------------------------------------------------------------*/
/* Estilos de Footer */

footer {
    background-color: #2d3748; /* Fondo del footer */
    color: white; /* Color del texto */
    display: flex;
    flex-direction: column; /* Dirección vertical */
    align-items: center; /* Alinear al centro */
    justify-content: center; /* Centrar el contenido verticalmente */
    height: 40vh; /* Ajusta la altura del footer al 40% de la altura de la ventana */
    padding: 1rem; /* Ajusta el padding según lo necesites */
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3); /* Sombra opcional para un efecto visual más formal */
    overflow: hidden; /* Evita el desbordamiento del contenido */
}

.footer-right {
    text-align: left; /* Alinea el texto a la izquierda */
    margin-left: 83rem; /* Ajusta según sea necesario */
}

.footer-title {
    font-size: 2rem; /* Tamaño de letra más pequeño para los títulos */
    font-weight: bold;
    margin-bottom:0.5rem;
}

.footer-text {
    font-size: 1.3rem; /* Tamaño de letra más pequeño para el texto */
    line-height: 1.2; /* Mejora el espaciado entre líneas */
    font-weight: normal;
    letter-spacing: 0.04rem; /* Elimina el espacio entre letras */
    margin-bottom: 0.5rem;
}
.spacebetween {
    display: flex;
    flex-direction: column; /* Mantiene los elementos en columna */
    margin: 0; /* Elimina márgenes adicionales */
}

    .spacebetween a:first-child {
        margin-bottom: -0.2rem; /* Ajusta para reducir el espacio entre los números */
    }

.footer-link {
    font-size: 1.3rem; /* Tamaño de letra más pequeño para los enlaces */
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Elimina subrayado */
}

    .footer-link:hover {
        text-decoration: underline; /* Subrayado al pasar el mouse */
    }

.flex01 {
    display: flex;
    align-items: center; /* Alinear al centro */
    justify-content: center; /* Centrar verticalmente los elementos */
}

/* Ajuste de los iconos de redes sociales */
.img-logo07, .img-logo08, .img-logo09, .img-logo10 {
    object-fit: contain; /* Mantener proporción */
    margin: 0.5rem; /* Espacio entre íconos */
}

.img-logo03 { /* Logo de la iglesia */
    margin: 15% 0 15% 25%;
    width: 15rem; /* Ajuste de tamaño para logo */
    height: auto; /* Mantener proporción */
}

.img-logo07 { /* TikTok */
    width: 3rem; /* Ajuste de tamaño */
    height: 3rem;
}

.img-logo08 { /* YouTube */
    width: 2.8rem; /* Ajuste de tamaño */
    height: 2.8rem;
}

.img-logo09 { /* Instagram */
    width: 2.5rem; /* Ajuste de tamaño */
    height: 2.5rem;
}

.img-logo10 { /* Facebook */
    width: 3rem; /* Ajuste de tamaño */
    height: 2rem;
}

.ul-title {
    margin-left:30%;
    width: 100%;
    font-size: 2.5rem;
    line-height: 3.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0;
    font-weight: bold;
}
