<link rel="stylesheet" href="~/css/IndexPag.css" asp-append-version="true" />
<body>
    @* Parte 1 Body Index *@
    <div class="font-div1">
        <a class="title-black a-title">Maranatha San Félix <br> Una Iglesia de</a>
        <div class="text-right flex">
            <h1 class="title-bluesketch h1-title">Amor <br> Fe <br> Poder</h1>
            <img class="img-body01" src="/Sources/Image/Resources/PastoresHD.png" />
        </div>
        <p class="p-blackgotham p1-body">
            Somos una iglesia unida por la misma pasión y <br>
            propósito: agradar el corazón de Jesús y proclamar <br>
            su transformador mensaje en toda Venezuela.
        </p>
        <button class="b-bluegotham b1-body">Ver Más</button>
    </div>
    @* Parte 2 Body Index *@
    <div class="font-div2">
        <div class="evangelioImg">
            <img class="img-body02" src="/Sources/Image/Resources/EECR1.png" alt="Persona del Evangelio Cambia" />
        </div>
        <div class="evangelioInfo">
            <img class="img-logo02" src="/Sources/Image/logos/EECLogo.png" alt="Logo del Evangelio Cambia" />
            <h2 class="title-withegotham">Cambiando Vidas <br> para bien y para Siempre</h2>
            <p class="p-whitegotham text-center">
                Por tanto, id, y haced discipulos a todas las <br>
                naciones, bautizandolos en el nombre del Padre y <br>
                del Hijo, y del Espiritu Santo;
            </p>
            <p class="title-withegotham">Mateo 28:19 </p>
        </div>
        <button class="b-whitegotham b2-body">Ver Más</button>
    </div>
    @* Parte 3 Body Index *@
    <div class="flex font-div3">
        @* Apostol Nahum *@
        <div class="font-div01"></div>
        @* Apostol Javier*@
        <div class="font-div02 ">
            <div>
                <h2 class="title-withegotham h2-title2">Ministerio</h2>
                <button class="b-whitegotham b3-body">Ver Más</button>
            </div>
        </div>
        @* Apostol Hugo*@
        <div class="font-div03"></div>
    </div>
    @* Parte 4 Body Index *@
    <div class="Bg-light-grayish-yellow font-div5">
        <h2 class="title-black h2-title3">Iglesia</h2>
        <div class="flex">
            <div>
                <img class="img-logo04" src="/Sources/Image/Logos/JEFLogo.png" alt="Logo Jovenes en Fuego" />
            </div>

            <div>
                <img class="img-logo05" src="/Sources/Image/Logos/MIFLogo.png" alt="Logo Maranatha Infantil" />
            </div>

            <div>
                <img class="img-logo06" src="/Sources/Image/Logos/HDCLogo.png" alt="Logo Haciendo Dicipulos" />
            </div>
        </div>
        <button class="bd-bluegotham b4-body">Ver Más</button>
    </div>
</body>