<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* Este meta es para colocar etiqueta CEO *@
    <meta author="DavidPrado" content="IglesiaMaranatha,DavidAcuerdate" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>@ViewData["Title"]MaranathaSanFelixWeb</title>
    <link rel="icon" type="image/x-icon" href="~/MaranathaSF16x16.ico" sizes="16x16">
    <link rel="icon" type="image/x-icon" href="~/MaranathaSF32x32.ico" sizes="32x32">
    <link rel="stylesheet" href="~/css/DefaultSettings.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LayoutPag.css" asp-append-version="true" />

</head>
<body>
    @* NavBar *@
    <div class="sticky top-0 prueba">
        <div id="logo1" class="Bg-cyan-blue text-center topHeader">
            <a class="inline-block p-2" href="@Url.Action("Index","Home")">
                <img class="filter invert brightness-0 logo" src="/Sources/Image/Logos/MaranathaSF.svg" alt="LogoMSF" />
            </a>
        </div>
        <nav class="navbar text-xl flexNav">
            <a class="inline-block p-2 navLogo hidden" href="@Url.Action("Index","Home")">
                <img class="filter invert brightness-0 logo" src="/Sources/Image/Logos/MaranathaSF.svg" alt="LogoMSF" />
            </a>
            <ul class="flex space-x-7 p-3">
                <li>
                    <a asp-area="" asp-controller="Nosotros" asp-action="Nosotros">Nosotros</a>
                </li>
                <li>
                    <a>Ministerio</a>
                </li>
                <li>
                    <a>Contáctanos</a>
                </li>
                <li>
                    <a>Donaciones</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Login" asp-action="Login">Login/Sign Up</a>
                </li>
            </ul>
        </nav>
    </div>
    <script src="~/js/site.js"></script>
    @* BodyPart *@
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    @* Footer *@
   <footer>
    <div class="flex01">
        <div>
            <div class="img-logo03">
                <img class="filter invert brightness-0" src="/Sources/Image/Logos/MaranathaSF.svg" alt="Logo Maranatha" />
            </div>
            <ul class="p-whitegotham text-left ul-title">
                <li><a href="#about">NOSOTROS</a></li>
                <li><a href="#ministry">MINISTERIO</a></li>
                <li><a href="#contact">CONTÁCTO</a></li>
                <li><a href="#donations">DONACIONES</a></li>
            </ul>
        </div>

        <div class="p-whitegotham text-right">
            <div class="divPosition">
                <h3>Ubicación:</h3>
                <p>
                    Vista Alegre, Calle Monagas <br>
                    Calle 1 - Local N°2 <br>
                    San Félix Edo. Bolívar
                </p>
                <h3>Contacto</h3>
                <div>
                    <a href="tel:+58424000000">+58 424-000-000</a><br>
                    <a href="tel:+58424000000">+58 424-000-000</a>
                </div>
                <h3>E-mail</h3>
                <a href="mailto:info@maranathasanfelix.com">info@maranathasanfelix.com</a>
            </div>
            <div class="flex01">
                <a href="https://www.facebook.com/Maranatha8051/" target="_blank" rel="noopener noreferrer">
                    <img class="img-logo07" src="/Sources/Image/Logos/FBLogo.png" alt="Facebook Link" />
                </a>
                <a href="https://www.instagram.com/sf.maranatha/" target="_blank" rel="noopener noreferrer">
                    <img class="img-logo08" src="/Sources/Image/Logos/InstagramLogo.png" alt="Instagram Link" />
                </a>
                    <a href="https://www.youtube.com/&#64MaranathaSanFelixOficial" target="_blank" rel="noopener noreferrer">
                    <img class="img-logo09" src="/Sources/Image/Logos/YTLogo.png" alt="Youtube Link" />
                </a>
                    <a href="https://www.tiktok.com/&#64maranathasanfelix?_t=8p0WTBhPDnh&_r=1" target="_blank" rel="noopener noreferrer">
                    <img class="img-logo10" src="/Sources/Image/Logos/TikTokLogo.png" alt="Tiktok Link" />
                </a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
