<body class="Bg-cyan-blue">
    <div class="flex mt-1 py-12 text-center content-center">
        <div class="w-2/4 text-xs">
            <p>
                Somos una iglesia unida por la misma pasión y propósito: agradar el corazón de Jesús y
                proclamar su transformador mensaje en toda Venezuela. En cada una de nuestras sedes, servimos con pasión y empeño,
                dando lo mejor de nosotros, enfocados en la misma visión: una nación rendida, enteramente, a los pies de Jesús.
            </p>
        </div>
        <div>
            <img class=" h-52" src="/Sources/Image/Lilina&Jose.jpg" alt="FotoPastores" />
        </div>
    </div>
</body>