<link rel="stylesheet" href="~/css/Nosotros.css" asp-append-version="true" />
<body>
    @* PrimeraParte *@
    <div class="basicdiv">
        <div class="fontdiv">
            <h1>Nosotros</h1>
        </div>
    </div>
    @* SegundaParte *@
    <div class="fontdiv02">
        <h2>
            Nuestra Iglesia
        </h2>
        <ul>
            <li>
                Fundada el 6 de Junio del año 2004, en el Parque La Fundación Av. Gumilla,<br />
                San Félix - Estado Bolívar. Pastoreada por: José Miguel Camporeale y Lilina Camporeale,<br />
                bajo la cobertura de nuestro Apóstol Nahum Rosario.
            </li>
            <hr class="separator">
            <li>
                Somos una iglesia unida por la misma pasión y propósito: agradar el corazón de Jesús y <br />
                proclamar su transformador mensaje en toda Venezuela. En cada una de nuestras sedes, servimos <br />
                con pasión y empeño, dando lo mejor de nosotros, enfocados en la misma visión: una nación <br />
                rendida, enteramente, a los pies de Jesús.
            </li>
        </ul>
        <div class="divPosiciontFlex">
            <div class="imgPosition">
                <img src="~/Sources/Image/Resources/PastoresCamporeale.png" alt="PastoresCamporeales" />
            </div>
            <div>
                <h2>
                    Nuestos Pastores
                </h2>
                <ul>
                    <li>
                        Fundada el 6 de Junio del año 2004, en el Parque La Fundación Av. Gumilla,<br />
                        San Félix - Estado Bolívar. Pastoreada por: José Miguel Camporeale y Lilina Camporeale,<br />
                        bajo la cobertura de nuestro Apóstol Nahum Rosario.
                    </li>
                    <hr class="separator">
                    <li>
                        Somos una iglesia unida por la misma pasión y propósito: agradar el corazón de Jesús y <br />
                        proclamar su transformador mensaje en toda Venezuela. En cada una de nuestras sedes, servimos <br />
                        con pasión y empeño, dando lo mejor de nosotros, enfocados en la misma visión: una nación <br />
                        rendida, enteramente, a los pies de Jesús.

                    </li>
                </ul>
            </div>
        </div>
    </div>
    @* TerceraParte *@
    <div class="divBackg">
        <div class="fontdiv03">
            <h3>LA BIBLIA</h3>
            <p>
                Aunque escrita por el hombre, creemos que el Espíritu Santo inspiró la biblia y es la Palabra <br />
                infalible del mismo Dios para todos sus hijos. Las Sagradas Escrituras son eternas; por tanto, siendo <br />
                nuestra única regla de fe, doctrina y conducta.
            </p>
            <a>2 Pedro 1:21; 2 Timoteo 3:16-17</a>

            <h3>LA TRINIDAD</h3>
            <p>Dios manifestado en tres personas: Padre, Hijo y Espíritu Santo.</p>
            <a>Hebreos 1:8; Juan 10:13; Mateo 28:18-20</a>

            <h3>PADRE</h3>
            <p>
                Él es el Creador de todo el universo y la vida. Alfa y Omega, El Gran YO SOY, Aquel que es el Lugar Santísimo.
                Él es la eternidad
            </p>
            <a>Éxodo 3:14; Levítico 11:44-45; Números 23:19; Salmo 11:4-6; Malaquías 3:6; Hechos 17:28</a>

            <h3>HIJO</h3>
            <p>
                Jesucristo es el Redentor de nuestros pecados, el principal intercesor de la humanidad y está sentado a la diestra del Padre en el cielo.
            </p>
            <a>
                1 Timoteo 3:16; Fil 2:9-10; Juan 3:16; Romanos 8:34
            </a>

            <h3>ESPÍRITU SANTO</h3>
            <p>
                El regalo de Dios al hombre después de la resurrección de Jesucristo en la <br />
                tierra. El Espíritu Santo es nuestro Consolador y Consejero. Él nos convence <br />
                de nuestros pecados, es justo y nos hace más como Cristo.
            </p>
            <a>2 Corintios 3:14-18; Mateo 3:16-17; Juan 16:7-8; Hechos 1:8; 1 Corintios 3:16</a>

            <h3>SALVACIÓN</h3>
            <p>
                No podemos salvarnos por obras religiosas o buenos méritos. A través de la <br />
                fe en la gracia de Dios y la obra completa de nuestro Señor Jesucristo en la <br />
                cruz del Calvario es lo que nos purifica de nuestros pecados.
            </p>
            <a>Efesios 2:8-9; Romanos 6:3-4; Juan 3:16</a>


            <h3>BAUTISMO</h3>
            <p>
                El bautismo es un anuncio público de que somos una nueva creación en <br />
                Cristo Jesús. ¡Cuando eres bautizado es tu proclamación de que Jesús es tu <br />
                todo y eres uno con Él! El acto de ser bautizado simboliza tu identificación <br />
                con Cristo en tres áreas:

                Su muerte (eres sumergido en el agua); Su entierro (estar bajo el agua); y <br />
                por último pero más significativo, Su resurrección (cuando sales del agua). La <br />
                Biblia declara en Romanos 6:3-4: “¿O acaso olvidaron que, cuando fuimos <br />
                unidos a Cristo Jesús en el bautismo, nos unimos a él en su muerte?  Pues <br />
                hemos muerto y fuimos sepultados con Cristo mediante el bautismo; y tal <br />
                como Cristo fue levantado de los muertos por el poder glorioso del Padre, <br />
                ahora nosotros también podemos vivir una vida nueva.”  La Biblia nos <br />
                muestra en Hechos 2:38, “Pedro contestó:  —Cada uno de ustedes debe <br />
                arrepentirse de sus pecados y volver a Dios, y ser bautizado en el nombre de <br />
                Jesucristo para el perdón de sus pecados. Entonces recibirán el regalo del <br />
                Espíritu Santo.”
            </p>


            <h3>LA IGLESIA</h3>
            <p>
                La iglesia es el corazón de Jesucristo. Somos embajadores de quién es Él en <br />
                la tierra. Compuesto por creyentes comprometidos a seguir a Cristo en amor, <br />
                unidad, oración y compañerismo; la iglesia practica las enseñanzas de <br />
                Jesucristo y obedece todos sus mandamientos. La iglesia es verdaderamente <br />
                la novia de Cristo que cautiva su corazón todos los días.
            </p>
            <a>
                2 Corintios 5:20; Efesios 5:25-27; Apocalipsis 21:2, 9-11; 2 Corintios 11:2-3; <br />
                Oseas 2:19-20 [Dios hablando a Su pueblo como la novia]
            </a>
        </div>
    </div>
</body>
